// Base colors
$text-color: #ffffff;
$hover-color: rgba(53, 132, 228, 0.1);
$selected-color: #3581e4;

// Folder icon color
.folder-icon {
  color: var(--folder-color);
}

// Common transparent backgrounds
.view, .headerbar, scrolledwindow {
  background: transparent;
}

// Common text color
.view, .drag-icon, .drag-icon label {
  color: $text-color;
}

// Sidebar selection styling
.sidebar row:selected {
  background-color: var(--accent_bg_color);
  color: $text-color;
}

.sidebar row:hover:not(:selected) {
  background-color: var(--accent_hover_color);
}

// View elements styling
.view {
  &.grid-view, &.list-view {
    child, row {  // Ajout de 'row' pour cibler les éléments de la ListView
      &:selected {
        background-color: var(--accent_bg_color);
        color: $text-color;
      }
      
      &:hover:not(:selected) {
        background-color: var(--accent_hover_color);
      }
      
      // Ajout du style de base
      border-radius: 6px;
      padding: 8px;
      margin: 2px;
    }
  }
}

// Specific styles
.important-folders-list {
  border-radius: 10px;
}

.headerbar {
  padding: 6px;
}

.drag-icon {
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(53, 132, 228, 0.9);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  
  image {
    -gtk-icon-size: 32px;
    margin-right: 8px;
  }
  
  label {
    font-weight: bold;
  }
}

// Folder icon styling
.folder-icon {
  color: var(--folder-color);
}

.warning-box {
  background-color: rgba(255, 165, 0, 0.1); // Light orange background
  border: 1px solid rgba(255, 165, 0, 0.5); // Orange border
  border-radius: 6px;
  padding: 6px;
  margin: 12px;

  .warning-icon {
    margin-right: 8px;
  }

  .warning-label {
    font-weight: bold;
    color: #ffa500; // Orange text color
  }

  .warning-close-button {
    background: none;
    border: none;
    color: #ffa500; // Orange text color
  }

  .warning-close-button:hover {
    color: #ff4500; // Darker orange on hover
  }
}
